### Paths #################################################

# Point to the path of your applications code on your host
APP_CODE_PATH_HOST=./application

# Point to where the `APP_CODE_PATH_HOST` should be in the container
APP_CODE_PATH_CONTAINER=/var/www

### MYSQL #################################################
MYSQL_VERSION=8.0
MYSQL_DATABASE=xcrawler_db
MYSQL_PASSWORD=secret
MYSQL_USER=xcrawler
MYSQL_PORT=3306

### PHP MY ADMIN ##########################################
PMA_PORT=8080

### NGINX ###
APP_HTTP_PORT=8888
APP_HTTPS_PORT=8443

## MAILDEV ##
MAILDEV_HTTP_PORT=9000
MAILDEV_SMTP_PORT=25

## REDIS ##
REDIS_PORT=6379
REDIS_PASSWORD=secret

## RedisAdmin ##
REDIS_WEBUI_PORT=5001

## MongoDB ##
MONGO_VERSION=4
MONGO_ROOT_USER=xcrawler
MONGO_ROOT_PASSWORD=secret
MONGO_DATABASE=xcrawler
MONGO_PORT=27017

## Mongo Expess ##
MONGO_EXPRESS_PORT=8081
